.flex_item{
    background-color: violet;
    width: 200px;
    height: 150px;
    font-size: 45px;
    margin: 10px;
    padding: 10px;
    /* Image numbering center */
    display: flex;
    justify-content: center;  
    align-items: center;
}
.flex_container{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    /* space-between,space-evenly */
}