.t_transform_upper{
    text-transform: uppercase;
    text-align: center;
}
.t_transform_lower{
    text-transform: lowercase;
    text-align: center;
}
.t_transform_capitalize{
    text-transform: capitalize;
    text-align: center;
}
.t_right{
    text-align: right;
}
.t_center{
    text-align: center;
}
.t_decor_underline{
    text-decoration: underline;
}
.t_decor_overline{
    text-decoration: overline;
}
.t_decor_line_throuth{
    text-decoration: line-through;
}
.t_decor{
    text-decoration: underline overline line-through;
}
.t_indent{
    text-indent: 120px;
}
.t_letter_space{
    letter-spacing: 15px;
}
.t_word_space{
    word-spacing: 10px;
}
.para_line_height{
    line-height: 23px;
}
.t_shadow{
    color: rgb(81, 62, 250);
    text-shadow: 2px 4px 4px black;
    font-size: 60px;
}
.t_shadow2{
    color: rgb(255, 30, 0);
    text-shadow: 2px 4px 6px rgb(25, 22, 80);
    font-size: 50px;
}
.t_shadow3{
    color: rgb(187, 255, 0);
    text-shadow: 2px 4px 6px rgb(25, 22, 80);
    font-size: 50px;
}
.img_b_shadow{
    box-shadow: 10px 12px 9px gray;
    width: 400px;
    height: 400px;
}
.img_b_shadow2{
    box-shadow: 10px 12px 9px rgb(119, 60, 60);
    width: 400px;
    height: 400px;
}
.img2_d_shadow{
    filter: drop-shadow(5px 6px 9px rgb(97, 54, 54));
    width: 400px;
    height: 400px;
}